/* Your Styling */


header {

	background: green;
}

/*Article Headings*/
article section {
	position: relative;
}

article section p {

	margin-top: 4em;
	}

article h3 {
	background: #fff;
	padding: 4px;
	position: absolute;
	left:-20px;
	top:0px;
	/*RELATIVE PARENT ABSOLUTE CHILD*/
	text-shadow: 3px 3px 10px #fff;
	text-transform: uppercase;

}
/*app*/

article section:nth-child(1) {

background: #d3d3d3;
}

/*entree*/

article section:nth-child(2) {

background: #d3d3d3;
}

/*desert*/

article section:nth-child(3) {

background: #d3d3d3;
}

/*Drinks*/
article section:nth-child(4) {

background: #d3d3d3;
}

/*footer*/

footer section:nth-child(1){

	background: gold;
}

footer section:nth-child(2){

	background: gold;
}